.banner-jumbotron {
    background-image: url("../images/hszg_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
}

.logo-img{
    max-height: 4rem;
}

.heading-bg-box {
    background-color: rgba(63, 56, 56, 0.8);
}